# Created by .ignore support plugin (hsz.mobi)
.idea/$CACHE_FILE$
.idea/.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/pixi_test.iml
dist/main.js
images/
node_modules/
output/
